[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
requests = "*"
streamlit-lottie = "*"
pandas = "*"
yfinance = "*"

[dev-packages]

[requires]
python_version = "3.10.3"
